@font-face {
    font-family: 'Open Sans';
    src: url('fonts/ofont.ru_Open Sans.ttf');
}
body{
    background: #F8F8F8;
    margin: 0px auto;
    font-family: 'Open Sans';
}

.wrap{
    margin: 0px auto;
}

header{
    height: 150px;
    color: #1D1D1B;
}

.container{
    width: auto;
    background-color:  #E5E5E5;
}

.upper-line{
    margin: 0px auto;
    height: 36px;
    font-size: 12px;
    width: 1120px;
    display: flex;
    align-items: center;
    position: relative;
}

.geo{
    width: 12px;
    height: 16px;
    margin-right: 13px;
}

.city{
    margin-right: 99px;
}

.clients-navigation{
    display: flex;
}

.shops{
    margin-right: 24px;
}

.buyers{
    margin-right: 11px;
}

.legals{
    margin-right: 11px;
    margin-left: 27px;
}

.header-info{
    color: header-info;
    position: absolute;
    right: 10px;
}

.actions{
    margin: 0px auto;
    margin-top: 34px;
    width: 1120px;
    /* background-color: rgb(226, 212, 155, 0.2); */
    white-space: nowrap;
    display: flex;
    align-items: center;
}

.logo{
    margin-right: 56px;
}

.search-form{
    width: 412px;
    border: 1px solid #D5D5D5;
    border-radius: 3px;
    min-height: 20px;
    margin-right: 30px;
    display: flex;
    align-items: center;
}

.search{
    margin: 0px;
    border: none;
    font-size: 14px;
    letter-spacing: 0.05em;
    text-indent: 16px;
    outline: none;
    font-family: 'Open Sans';
    width: 350px;
    height: 48px;
}

.find{
    width: 56px;
    height: 49px;
    border-bottom-right-radius: 3px;
    border-top-right-radius: 3px;
    border: none;
    cursor: pointer;
    background: url('img/header/search.svg') no-repeat 50% 50% #E0001B;
}

.actions button{
    height: 48px;
    font-weight: 600;
    font-size: 14px;
    text-align: center;
    font-family: 'Open Sans';
    border: none;
    border-radius: 3px;
    background-color: rgba(224, 223, 223, 0);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 160px;
    cursor: pointer;
}

.actions button:hover{
    background-color: #E5E5E5;
}

.actions .favorite{
    /* background-color: #E5E5E5; */
    width: 180px;
    text-align: center;
}

.heart{
    margin-right: 15px;
}

.scales{
    margin-right: 13px;
}

.cart{
    margin-right: 14px;
}

.counter{
    width: 17px;
    height: 17px;
    background-color:#E0001B;
    border-radius: 50%;
    color: white;
    font-size: 12px;
    font-weight: 300;
    margin-left: 20px;
}

nav{
    margin: 0px auto;
    width: 1120px;
    background-color: rgb(15, 157, 157);
}

nav ul li{
    list-style: none;
}

nav a{
    color: #1D1D1B;
    text-decoration: none;
}