@font-face {
    font-family: 'Open Sans';
    src: url('fonts/ofont.ru_Open Sans.ttf');
}
body{
    background: #F8F8F8;
    margin: 0px auto;
    font-family: 'Open Sans';
}

.wrap{
    margin: 0px auto;
}

header{
    height: 150px;
    color: #1D1D1B;
}

.container{
    width: auto;
    background-color:  #E5E5E5;
}

.upper-line{
    margin: 0px auto;
    height: 36px;
    font-size: 12px;
    width: 1120px;
    display: flex;
    align-items: center;
    position: relative;
}

.geo{
    width: 12px;
    height: 16px;
    margin-right: 13px;
}

.city{
    margin-right: 99px;
}

.clients-navigation{
    display: flex;
}

.shops{
    margin-right: 24px;
}

.buyers{
    margin-right: 11px;
}

.legals{
    margin-right: 11px;
    margin-left: 27px;
}

.header-info{
    color: header-info;
    position: absolute;
    right: 10px;
}

.actions{
    margin: 0px auto;
    width: 1120px;
    background-color: #cf7c7c;
}

nav{
    margin: 0px auto;
    width: 1120px;
    background-color: rgb(15, 157, 157);
}

nav ul li{
    list-style: none;
}

nav a{
    color: #1D1D1B;
    text-decoration: none;
}